h1,
h2,
h3,
p,
figure,
dialog {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

button {
  color: inherit;
  cursor: pointer;
}

input {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  letter-spacing: 0.03em;
}

.link {
  color: $color-primary;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &--page-header {
    display: flex;
    align-items: center;
    /* todo: make modifications */
    & > :first-child {
      margin-right: 93px;
    }
    & > :last-child {
      margin-left: auto;
    }
  }
  &--footer {
    display: flex;
    align-items: baseline;
    column-gap: 70px;
  }
}
